<h1>Graph on Rails Playground</h1>
<h2>Node</h2>
<ul>
    <li><%= link_to 'Node', nodes_path %></li>
</ul>

<h2>Q/A</h2>
<ul>
    <li><%= link_to 'Collaborators', collaborators_path %></li>
    <li><%= link_to 'Questions', questions_path %></li>
</ul>